@page "/stap1"
<div class="row">
    <div class="col-12">
        <h1>Stap 1</h1>
    </div>
</div>
<div class="row">
    <div class="col-8">
        <Gezinssamenstelling />
    </div>
        <div class="col-4">
        <Kassabon />
    </div>
</div>
<div class="row">
    <NavigatieKnop paginaNaam="stap2" weergaveNaam="Stap 2"></NavigatieKnop>
</div>