@if (IsGeladen())
{
<div class="w-100">

    <GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.BasisverzekeringComponent basisverzekeringsTeksten="verzekeringTekstenDTO.basisVerzekeringen" basisverzekeringen ="verzekeringDTO.basisVerzekeringen"></GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.BasisverzekeringComponent>

    <GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.AanvullendeVerzekeringComponent aanvullendeverzekeringsTeksten="verzekeringTekstenDTO.aanvullendeVerzekeringen" aanvullendeverzekeringen="verzekeringDTO.aanvullendeVerzekeringen"></GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.AanvullendeVerzekeringComponent>

    <GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.TandverzekeringComponent tandverzekeringsTeksten="verzekeringTekstenDTO.tandVerzekeringen" tandverzekeringen="verzekeringDTO.tandVerzekeringen"></GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.TandverzekeringComponent>

    <GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.EigenRisicoComponent></GeneriekeWizard.Pages.Stap_2.VerzekeringsComponenten.EigenRisicoComponent>
    
</div>
}