<div class="col">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@verzekeringTekst.naam</h5>
            <p class="card-text">@verzekeringTekst.tekst</p>
            <p>Prijs: €@verzekeringTekst.prijs </p>
        </div>
    </div>
</div>